In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [15]:
data = pd.read_csv('MNCAATourneyDetailedResults.csv')

In [16]:
data.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,11,29,17,26,14,30,17,12,5,3,22,29,67,12,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,7,23,11,14,11,36,22,16,10,7,8,20,64,4,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,6,14,16,22,10,27,18,9,7,4,19,25,69,7,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,3,7,18,25,11,20,15,18,13,1,19,27,60,7,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,7,20,15,23,18,20,17,13,8,2,14,25,56,9,21,15,20,10,26,16,14,5,8,19

In [17]:
wins_data = data[['WScore', 'WFGM', 'WFGM3', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]
wins_data.rename(columns = {'WScore':'Score', 
                            'WFGM':'FGM',
                            'WFGM3':'FGM3',
                            'WAst':'Ast',
                            'WTO':'TO',
                            'WStl':'Stl',
                            'WBlk':'Blk',
                            'WPF':'PF'
                           }, inplace = True)
wins_data['Won'] = 1

losses_data = data[['LScore', 'LFGM', 'LFGM3', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]
losses_data.rename(columns = {'LScore':'Score', 
                            'LFGM':'FGM',
                            'LFGM3':'FGM3',
                            'LAst':'Ast',
                            'LTO':'TO',
                            'LStl':'Stl',
                            'LBlk':'Blk',
                            'LPF':'PF'
                           }, inplace = True)
losses_data['Won'] = 0

/tmp/ipykernel_98/3715272996.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wins_data.rename(columns = {'WScore':'Score',
/tmp/ipykernel_98/3715272996.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wins_data['Won'] = 1
/tmp/ipykernel_98/3715272996.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  losses_data.rename(columns = {'LScore':'Score',
/tmp/ipykernel_98/3715272996.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  losses_data['Won'] = 0

In [18]:
df = pd.concat([wins_data, losses_data])

In [19]:
df.head()

   Score  FGM  FGM3  Ast  TO  Stl  Blk  PF  Won
0     92   32    11   17  12    5    3  22    1
1     80   31     7   22  16   10    7   8    1
2     84   31     6   18   9    7    4  19    1
3     79   29     3   15  18   13    1  19    1
4     76   27     7   17  13    8    2  14    1

In [20]:
# shuffle dataframe
df = df.sample(frac = 1)
df.head()

     Score  FGM  FGM3  Ast  TO  Stl  Blk  PF  Won
415     59   20     4    6  15    6    4  16    0
940     78   31     5   14   6    7    5  12    1
359     55   21     0    4  13    4    1  23    0
273    112   43    10   27  12    5    6  13    1
360     78   26     8    9  10    8    4  26    0

In [21]:
X = df[['Score', 'FGM', 'FGM3', 'Ast', 'TO', 'Stl', 'Blk', 'PF']]
y = df['Won']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [23]:
clf = LogisticRegression().fit(X_train, y_train)

In [24]:
y_pred = clf.predict(X_test)

In [26]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

In [27]:
print('Accuracy:')
print((tp + tn) / (tp + tn + fp + fn))
print('')
print('Recall:')
print(tp / (tp + fn))
print('')
print('Precision:')
print(tp / (tp + fp))

Accuracy:
0.8051282051282052

Recall:
0.8070175438596491

Precision:
0.8110831234256927